@using RenoSystemDB.Entities;
@using RenoSystemDB.BLL;

@page "/query/{JobId:int?}"

<h3>Query: Job Supplies</h3>

@if (errorList.Count > 0)
{
    <div class="alert alert-danger">
        <p class="mb-3">Please fix the following issues:</p>
        <ul>
            @foreach (var error in errorList)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}
else if(feedback != null && feedback !="")
{
    <div class="alert alert-info">
        @feedback
    </div>
}

@* Display the jobs *@

<div class="container border py-2">
    <section id="job-supplies-menu">
        <fieldset>
            @* <legend >Job Supplies</legend> *@
            @if (Jobs == null)
            {
                <div id="menu">
                    <div>
                        <p>Loading Jobs. . .</p>
                    </div>
                </div>            }
            else
            {
                <div id="menu">
                    <div class="col-8" id="menu-select-job">
                       
                        <label class="col-2" for="job">Select a Job:</label>
                        <select class="form-select col-10" id="job" @bind="JobId">
                            <option selected value="0"></option>
                            @if (Jobs != null)
                            {
                                foreach (var job in Jobs)
                                {
                                    <option value="@job.JobId">@job.Description</option>
                                }
                            }
                        </select>
                    </div>
                    <div id="menu-buttons" class="col-4">                       
                        <div>
                            <button class="btn btn-primary" @onclick="HandleSelectedJob">Supplies?</button>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary" @onclick="ClearFields">Clear</button>                           
                        </div>
                    </div>
                </div>
            }
        </fieldset>    
    </section>
    <section id="job-supplies-display">       
        <div id="table-wrapper">
            <table id="jobs-table" class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-8">Material</th>
                        <th class="col-2 text-center">Qty</th>
                        <th class="col-2 text-start">Cost ($)</th>
                    </tr>
                </thead>
                @if (Supplies != null && Supplies.Count > 0)
                {
                    <tbody>
                        @foreach (var s in Supplies)
                        {
                            <tr>
                                <td>@s.Material</td>
                                <td class="text-center">@s.Quantity</td>
                                <td class="text-start">@($"{s.MaterialCost:C}")</td>
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tr id="table-alert" class="alert alert-warning">
                        <td colspan="3">
                            <p class="text-center m-auto"><strong>Select a job to view supplies</strong></p>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </section>
</div>